<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">

    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

    <div class="container p-4">

        <div class="row">
            <p>
                <b>
                    <span th:text="| ${centroDen} Usuario-> ${estaidentificacion} ${apellidoUno} ${apellidoDos}, ${nombre}|">
                        Cargando datos de usuario...
                    </span>
                </b>
            </p>
        </div>

        <div class="row">
            <div class="card card-body">

                <form th:action="@{/llamadas/guardar}" th:object="${nuevaLlamada}" method="POST" class="form">

                    <div class="form-group mx-sm-3">
                        <input type="hidden" name="apu" th:value="${apellidoUno}"/>
                        <input type="hidden" name="apd" th:value="${apellidoDos}"/>
                        <input type="hidden" name="nom" th:value="${nombre}"/>
                        <input type="hidden" name="cen" th:value="${centroDen}"/>
                        <input type="hidden" name="num" th:value="${numero}"/>
                        <input type="hidden" name="ide" th:value="${identifico}"/>
                    </div>

                    <div class="form-group">
                        <input type="text" th:field="*{telEmisor}" class="form-control"
                               placeholder="Quien llama" required>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{telReceptor}" class="form-control"
                               placeholder="A quién llama" required>
                    </div>
                    <div class="form-group">
                        <textarea th:field="*{telMensaje}" class="form-control"
                                  placeholder="Mensaje"></textarea>
                    </div>

                    <div class="form-group">
                        <select th:field="*{emilio}" class="form-control" size="1">
                            <option value="sincorreo">Elige persona (opcional para email)</option>
                            <option th:each="persona : ${listaPersonas}"
                                    th:value="|${persona.getNombreCompleto()} | ${persona.rptEmail}|"
                                    th:text="${persona.getNombreCompleto()}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success btn-block" value="Guardar y Enviar">
                    </div>
                </form>
            </div>

            <div class="card card-body mt-2">
                <input style="background-color: #489F48; font-weight:bold;" type="button"
                       class="btn btn-secondary"
                       onclick="history.back()" value="Página anterior">
            </div>
        </div>
        <br>

    </div>

</div> </body>
</html>